body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.franja {
    width: 100%;
    height: 200px;
    background-color: dodgerblue;
    position: fixed;
    bottom: 0;
}

img {
    transition: 3s;
}

img:hover {
    transform: translateY(-300px) rotate(360deg); 
}