body {
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
}

h1 {
    font-size: 26px;
}

p {
    font-size: 22px;
}

nav {
    position: static;
}

button {
    padding: 15px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: rgb(167, 72, 4);
    cursor: pointer;
}

.ant {
    position: absolute;
    top: 40px;
    left: 40px;
}

.sig {
    position: absolute;
    top: 40px;
    right: 40px; 
}

.contenedor {
    width: 80%;
    margin: 140px auto 0;
    text-align: center;
}

img {
    max-width: 100%;
}

.moviles {
    display: none;
}

.mensaje {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 40px;
    background-color: crimson;
    color: white;
    font-size: 16px;
    text-align: center;
}

/* Monitores muy grandes */

@media (min-width: 1400px) {
    /* No se utiliza demasiado */
}

/* Portátiles y monitores pequeños */

@media (max-width: 980px) {
    button {
        padding: 12px;
        border-radius: 8px;
        font-size: 20px;
    }
}

/* Tablets grandes o netbooks */

@media (max-width: 760px) {
    button {
        padding: 10px;
        border-radius: 8px;
        font-size: 18px;
    }
}

/* Teléfonos grandes o tablets pequeñas */

@media (max-width: 480px) {
      h1 {
          font-size: 22px;
      }
      p {
          font-size: 18px;
      }
      .escritorio {
          display: none;
      }
      .moviles {
        display: initial;
      }

      button {
        padding: 8px;
        border-radius: 6px;
        font-size: 16px;
    }
}

/* Teléfonos pequeños */

@media (max-width: 320px) {
    .mensaje {
        display: initial
    }
}