* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background-1932466_1920.jpg');
    background-position: center;
    /* Cover ajusta al alto y contain al ancho */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.texto {
    margin: 80px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #3f3f3f;
    font-size: 20px;
}