body {
    font-family: 'Montserrat', sans-serif;
    counter-reset: unidad;
}

h1 {
    counter-reset: apartado;
}

h1::before { 
    counter-increment: unidad;
    content: "Unidad " counter(unidad) ".- ";  
}

h2::before {
    counter-increment: apartado;
    content: "Apartado " counter(unidad) "." 
              counter(apartado) ".- ";
}